body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  transition: transform 1s;
}

h1 {
  display: inline;
}

label {
  margin: 5px;
}

input {
  margin: 10px;
}

#container {
  display: grid;
  grid: repeat(3, 1fr) / auto-flow 110px;
  width: 330px;
  height: 330px;
}

#container > div {
  background-color: rgb(175, 175, 175);
  position: relative;
  width: 100px;
  height: 100px;
  margin: 5px;
  border-color: black;
}

.textbox {
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  z-index: 10;
}

.buttons {
  border-style: solid;
  border-radius: 3px;
  background-color: white;
  position: relative;
  left: 3px;
  margin: 10px 10px 10px 0px;
}

#notifications {
  margin: 5px;
  width: 330px
}

#tally {
  margin: 5px 0px 10px 0px;
}

/* .row1 {
  border-style: solid;
  border-bottom: 2px;
}

.row3 {
  border-style: solid;
  border-top: 2px;
}

.col1 {
  border-right: 2px;
}

.col3 {
  border-left: 2px;
} */